Evaluation/MultiPL-E/source_generations/*/
checkpoints\java-full-ft\checkpoint-200-20230611T132423Z-002.zip
*/codegen-350M-mon_pass100x200_py_bs50.jsonl
checkpoits/*/
checkpoints
checkpoints_local
# runs
# *.pkl
wandb
__pycache__
temp
data
# results
src
tgt
res
Finetuning/*/
demo.ipynb
archive
wandb_plots
wanb_plots
# *.pdf
*.docx
model_cards